<!DOCTYPE html>
<html>
<head>
  <title>Favorites Organizer powered by Cloudant</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
  <div class="popup">
    <div class="personality">
      <div id="red"></div>
      <div id="green"></div>
      <div id="blue"></div>
      <div id="orange"></div>
      <div id="pink"></div>
    </div>
    <div class="tone">
      <div id="yellow"></div>
      <div id="purple"></div>
      <div id="black"></div>
      <div id="magenta"></div>
      <div id="violet"></div>
    </div>
  </div>
  <div class="banner">
    <img src="images/banner.png" alt="">
  </div>
  <!-- <div class="leftHalf"> -->
<img class="newappIcon" src="images/newapp-icon.png">
<ul id="politicals">
  <li method="post" id="trump"><img class="pol_icon" src="http://pixelartmaker.com/art/65d78b913bfca69.png" alt=""></li>
  <li method="post" id="hillary"><img class="pol_icon" src="http://66.media.tumblr.com/c46d4b9cf8f2e2e268a6355048c561da/tumblr_o4wlgsEnSc1tmpls6o1_500.gif" alt=""></li>
  <li method="post" id="bernie"><img class="pol_icon" src="http://i.imgur.com/rACSMpu.png" alt=""></li>
  <li method="post" id="sam"><img class="pol_icon" src="http://pre14.deviantart.net/d3b2/th/pre/i/2013/127/2/4/samuel_l__jackson_pixel_art_by_doomapocalypse-d64hrd3.png" alt=""></li>
  <li method="post" id="hawk"><img class="pol_icon" src="http://makepixelart.com/peoplepods/files/images/1476134.original.png" alt=""> <li method="post" id="king"><img class="pol_icon" src="http://piq.codeus.net/static/media/userpics/piq_263753_400x400.png" alt=""></li>
</ul>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>
